@use "../utils/variables" as vars;
@use "../utils/mixins" as mixins;
@use "../utils/device-mixins" as media;

.inputfield {
  margin-top: 12rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 9.6rem;
  }

  &__block-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;

    span {
      color: vars.$main-grey-color;
      font-size: 2.4rem;
      @include mixins.font-fraunces;
      line-height: 2.8rem;
    }

    .inputfield__btn-toggler {
      background-image: url("../../assets/images/arrow-top-icon.png");
      width: 1.8rem;
      height: 1.8rem;
      background-repeat: no-repeat;
      background-position: center;
      padding: 1.5rem;
      background-color: transparent;
      border: transparent;
    }
  }

  &__block-body {
    display: flex;
    flex-direction: column;

    @include media.device-controller(689px) {
      flex-direction: row;
      gap: 1rem;
    }
  }

  &__option {
    display: flex;
    flex-direction: column;
    padding-block: 2.4rem;
    padding-inline: 2.5rem;
    background-color: #f4f1eb;
    border-radius: 0.5rem;
    transition: ease-out 0.4s;
    cursor: pointer;
    margin-bottom: 1.6rem;

    @include media.device-controller(689px) {
      height: 25rem;
    }

    &:hover {
      background-color: vars.$main-orange-color;
    }

    &:active {
      background-color: vars.$main-green-color;
      color: vars.$main-light-orange-color;
    }

    label {
      @include mixins.font-fraunces;
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    input {
      // visibility: hidden;
      width: 100%;
    }

    span {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }
}

.toggler {
  display: none;
}

.show {
  display: block;
}

.changeImg {
  background-image: url("../../assets/images/arrow-down.png");
}
